.Projects {
  margin-top: 60px;
  padding: 20px;
}

h5 {
  font-family: "Questrial", sans-serif;
  font-size: 15px;
  position: fixed;
  margin-top: -18px;
  margin-left: 80px;
}

.myCode {
  position: fixed;
  top: 560px;
  width: 100%;
  text-align: center;
}

h2 {
  font-family: "WindSong", cursive;
  font-size: 65px;
}
